<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<app-header-dhali134 [dhali134MyData]="dhali134Personal"></app-header-dhali134>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">

  <mat-tab>
    <ng-template mat-tab-label>
      Personal Info&nbsp;
      <span class="material-symbols-outlined">
        sentiment_satisfied
      </span>
    </ng-template>
    <app-personal-dhali134 [dhali134MyData]="dhali134Personal"></app-personal-dhali134>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Noble Prizes&nbsp;
      <span class="material-symbols-outlined">
        award_star
      </span>
    </ng-template>
    <app-nobel-dhali134 [dhali134Prizes]="dhali134Prizes"></app-nobel-dhali134>
  </mat-tab>

</mat-tab-group>